* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.testContainer {
  /* background-color: skyblue; */
  background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGV4YW18ZW58MHx8MHx8fDA%3D&w=1000&q=80");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.testArea {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: cornflowerblue;
  height: 80%;
  width: 60%;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 5px 13px 10px -7px rgba(0.5, 0.5, 0.5, 0.5);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0, 1);
}
.questionArea {
  margin: 1rem;
  height: 17%;
  padding: 0.5rem;
  background-color: rgb(22, 84, 143);
  align-items: center;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.optionsArea {
  margin: 1rem;
  display: flex;
  height: 60%;
  flex-direction: column;
}

.option {
  background-color: skyblue;
  padding: 0.1rem;
  margin: 1rem;
  height: 80%;
  border-radius: 1rem;
  font-size: 1rem;
  border: none;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.5);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0, 1);
}
.option:hover {
  background-color: rgb(19, 136, 136);
}
.option:focus {
  background-color: rgb(26, 87, 87);
}
.nextBtn {
  color: white;
  height: 2rem;
  width: 8rem;
  background-color: darkblue;
  border-radius: 5px;
  border: none;
  margin: 1rem;
  cursor: pointer;
  box-shadow: 10px 13px 10px -7px rgba(172, 171, 171, 0.1);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0, 1);
}

.nextBtn:hover {
  background-color: rgb(17, 17, 182);
}
.progress {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: cornflowerblue;
  height: 70%;
  width: 28rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 5px 13px 10px -7px rgba(0.5, 0.5, 0.5, 0.5);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0, 1);
}
.questionProgress {
  height: 18rem;
  width: 85%;
  /* background-color: skyblue; */
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  align-items: center;
  overflow-y: scroll;
  /* justify-content: space-evenly; */
}
.box {
  height: 4rem;
  width: 4rem;
  background-color: white;
  margin: 0.5rem;
  cursor: pointer;
  box-shadow: 10px 13px 10px -7px rgba(172, 171, 171, 0.1);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0, 1);
  /* margin-left: 1rem; */
  border-radius: 1rem;
}
.boxAttempted {
  height: 4rem;
  width: 4rem;
  background-color: green;
  margin: 0.5rem;
  cursor: pointer;
  box-shadow: 10px 13px 10px -7px rgba(172, 171, 171, 0.1);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0, 1);
  /* margin-left: 1rem; */
  border-radius: 50%;
}
/* h3 {
  margin: 1rem;
} */

@media screen and (max-width: 1120px) {
  .testContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .testArea {
    border-radius: 1rem;
  }
  .progress {
    width: 60%;
    border-radius: 1rem;
  }
}
